<div id="cover" style="background-image: url('/assets/kaitlynhova.jpg'); height:785px;">
  
  <div id="header_text">
    <div class="post-titles">

            <h1  style="z-index: 1;">HOVA BOOK</h1>
            <h2  style="z-index: 1;">you're welcome</h2>

        </div>
  </div>
</div>

<div id="content">
  <div class="row">
    <div class="small-6 large-2 columns">...</div>
    <div class="small-6 large-8 columns">HOME</div>
    <div class="small-12 large-2 columns">...</div>
  </div>
  <div class="row">
    <div class="small-6 large-2 columns">...</div>
    <div class="small-6 large-8 columns">HOME</div>
    <div class="small-12 large-2 columns">...</div>
  </div>
</div>
