<div id="cover" style="background-image: url('/assets/kaitlynhova.jpg'); height:785px;">
<div id="menu-outer">
  <div class="table">
    <ul id="horizontal-list">
      <li>Sign up</li>
      <li>Sign in</li>
    </ul>
  </div>
</div>
  
  <div id="header_text">
    <div class="post-titles">

            <h1  style="z-index: 1;">HOVA BOOK</h1>
            <h2  style="z-index: 1;">by kaitlyn hova</h2>

        </div>
  </div>
</div>

<div id="content">

</div>
