body{
  -webkit-font-smoothing: antialiased;
  color: #343434;
  font-family: "europa", sans-serif;
  font-size: 16px;
  line-height: 25px;
}

.form{
  max-width: 400px;
  display: block;
  margin: 0 auto;
}
  



#cover{
  background: #565656;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
  /* -webkit-transition: height 50ms cubic-bezier(0.42, 0, 0.58, 1); */
  -moz-transition: height 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: height 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: height 50ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: height 500ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  
#cover:after{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}

#header_text{
  position: absolute;
  z-index: 6;
  text-align: center;
  color: #fff;
  top: 54%;
  width: 100%;
  margin-top: -122px;
}

.cleantitle{
  color: #000;
  font-size: 55px;
  line-height: 70px;
  text-transform: uppercase;
  font-family: "europa", sans-serif;
  letter-spacing: 4px;
  margin: 0;
  text-align:center;
  margin-top: 75px;
}

.legal{
  text-align:center;
  font-family: "adobe-garamond-pro", serif;
  margin-top:20px;
}

.legal a {
  color: #222222 !important;
  border-bottom: 1px solid #222;
  padding-bottom: 5px;
  }

.subtitle{
  font-size: 20px;
  font-family: 'europa';
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0 0 35px 0;
  font-weight: bold;
  text-align:center;
  padding:15px;
  -webkit-animation-delay: .5s; /* Safari and Chrome */
  animation-delay: .5s;
}

.center-it{
  display: block;
  margin: 0 auto;
  width:90%;
  margin-bottom: 11%;
}


#cover:before{
  content: " ";
  display: block;
  height: 351px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.05) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
  -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}

#content{
  position:relative;
  top:800px;
}

label{
  display: block;
  font-size: 15px;
  padding: 0;
  margin: 0 0 10px 0;
  text-align: center;
  font-family: "europa", sans-serif;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  line-height: 22px;
  position: relative;
  top: 5px;
  letter-spacing: 2px;
  margin-top:5px;
}

.label{
  display: block;
  font-size: 15px;
  padding: 0;
  margin: 0 0 10px 0;
  text-align: center;
  font-family: "europa", sans-serif;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  line-height: 22px;
  position: relative;
  top: -20px;
  letter-spacing: 2px;
  margin-top:5px;
}

.form_button{
  color: #fff;
  font-weight: bold;
  background: #000;
  border: none;
  -webkit-apperance: none;
  width: 100%;
  padding: 22px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 17px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.form_button:hover{
  background:rgba(223,63,63,0.9);
}

.inputstuff{
  font-size: 22px;
  text-align: center;
  padding: 18px 0;
  margin: 0px auto;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  outline:none;
  border: solid 1px #ccc;
  outline: none;
  position: relative;
  font-weight: bold;
  -webkit-appearance: none;
  border-radius: 0;
  outline: none;
  margin-top: -20px;
}

.inputstuff:focus{
  border: solid 1px black;
}

.post-titles h1 {
  text-transform: uppercase;
  font-family: "europa", sans-serif;
  letter-spacing: 4px;
  font-size: 65px;
  font-size: 7.5vw;
  line-height: 6vw;
  margin: 0 0 1% 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.post-titles h2 {
  line-height: normal;
  font-size: 45px;
  font-size: 3vw !important;
  font-family: "adobe-garamond-pro", serif;
  font-weight: normal;
  font-style: italic;
}

#menu-outer {
	height: 60px;
}

.table {
  display: table;
  font-family: "europa", sans-serif;
  float: right;
  text-align: right;
  color: white;
  position: relative;
  z-index: 100;
  text-transform: uppercase;
  padding-right: 40px;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
    letter-spacing: 2px;
    padding: 15px;
    font-family: "europa", sans-serif;
	}

