/******************************************

              TEXT STYLE

******************************************/


#header_text{
  position: absolute;
  z-index: 6;
  text-align: center;
  color: #fff;
  top: 54%;
  width: 100%;
  margin-top: -122px;
}

.gig_header{
  text-align:center;
}

.submit_button{
  text-transform: uppercase;
  background: black;
  border: none;
  padding: 15px;
  color: white;
  border-radius: 5px;
}

.edit_about{
  width:100%;
  outline:none;
  border:none;
  font-family: "adobe-garamond-pro", serif !important;
  font-size: 25px;
  line-height:33px;
  resize: none;
}

.edit_name{
  background: none;
  text-transform: uppercase;
  font-family: "europa", sans-serif;
  letter-spacing: 4px;
  font-size: 65px;
  font-weight: bold;
  font-size: 7.5vw;
  line-height: 6vw;
  margin: 0 0 1% 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  color: white;
  border: none;
  width: 100%;
  outline:none;
}

.gigdate_display{
  position: relative;
  margin-top: 35%;
  font-family: "adobe-garamond-pro", serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

.abouttimes{
  letter-spacing: 4px;
  font-size: 33px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.about_text{
  font-family: "adobe-garamond-pro", serif !important;
  font-size: 25px;
  line-height:33px;
}

.user_title_gigs{
  text-align: center;
  text-transform: uppercase;
  font-family: "europa", sans-serif;
  font-size: 65px;
  position: relative;
  top: -75px;
}

.gigtitle{
  font-size: 25px;
  letter-spacing: 3px;
  -webkit-font-smoothing: antialiased;
}

#navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #fff;
position: relative;
top: -155px;
}

#navcontainer ul li a:hover
{
color: #fff;
}

.cleantitle{
  color: #000;
  font-size: 55px;
  line-height: 70px;
  text-transform: uppercase;
  font-family: "europa", sans-serif;
  letter-spacing: 4px;
  margin: 0;
  text-align:center;
  margin-top: 75px;
}

.legal{
  text-align:center;
  font-family: "adobe-garamond-pro", serif;
  margin-top:20px;
}

.legal a {
  color: #222222 !important;
  border-bottom: 1px solid #222;
  padding-bottom: 5px;
  }

.subtitle{
  font-size: 20px;
  font-family: 'europa';
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0 0 35px 0;
  font-weight: bold;
  text-align:center;
  padding:15px;
  -webkit-animation-delay: .5s; /* Safari and Chrome */
  animation-delay: .5s;
}

.user_title{
  text-align:center;
  text-transform: uppercase;
  font-family: "europa", sans-serif;
  font-size: 65px;
  
}

body{
  -webkit-font-smoothing: antialiased;
  color: #343434;
  font-family: "europa", sans-serif;
  font-size: 16px;
  line-height: 25px;
}

ul{
  list-style:none;
}

.checkboxFour {
	width: 40px;
	height: 40px;
	background: #ddd;
	margin: 20px 90px;

	border-radius: 100%;
	position: relative;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.checkboxFour label {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 100px;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 1px;
	left: 5px;
	z-index: 1;

	background: #333;

	-webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

.checkboxFour input[type=checkbox]:checked + label {
	background: #26ca28;
}


.post-titles h1 {
  text-transform: uppercase;
  font-family: "europa", sans-serif;
  letter-spacing: 4px;
  font-size: 65px;
  font-size: 7.5vw;
  line-height: 6vw;
  margin: 0 0 1% 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.post-titles h2 {
  line-height: normal;
  font-size: 35px !important;
  font-family: "adobe-garamond-pro", serif;
  font-weight: normal;
  font-style: italic;
}

#menu-outer {
	height: 60px;
}

.table {
  display: table;
  font-family: "europa", sans-serif;
  float: right;
  text-align: right;
  color: white;
  position: relative;
  z-index: 100;
  text-transform: uppercase;
  padding-right: 10px;
}

ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
  position: relative;
  top: 10px;
	}
	ul#horizontal-list li {
		display: inline;
    letter-spacing: 2px;
    padding: 15px;
    font-family: "europa", sans-serif;
	}

/******************************************

              COVER STYLES

******************************************/

  .top_bar{
    background: rgba(245,245,245,.9);
    height: 103px;
    position: fixed;
    width: 100%;
  }

#cover{
  background: #565656;
  position: absolute;
  top: -16px;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
  /* -webkit-transition: height 50ms cubic-bezier(0.42, 0, 0.58, 1); */
  -moz-transition: height 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: height 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: height 50ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: height 500ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  

#cover:before{
    content: " ";
    display: block;
    height: 351px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.05) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
    -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  
  .mobile_title{
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    font-size: 50px;
  }
  
  #circle_thing{
    height:100px;
    position:relative;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    width: 100px;
    background-size: 100px;
    border-radius: 60px;
    top: 350px;
  }
  
  .gig_grid{
     margin-top: 100px;
  }
  
  .nav_name{
    position: relative;
    top: 20px;
    left: 37px;
    text-transform: uppercase;
  }
  
  #circle_thing_gigs{
    height: 65px;
    position: relative;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    width: 65px;
    background-size: 65px;
    border-radius: 108px;
    float: left;
    position: relative;
    top: 20px;
    left: 20px;

  }
  .content{
    position: relative;
    top: 400px;
  }
  
#cover:after{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}


/******************************************

            IMAGE HOVER STYLE

******************************************/


.brightness{
  width: 100%;
  transition: .5s;
  display: block;
  margin: 0 auto;
  margin-bottom: -130px;  
}

/*.brightness:hover{
  -webkit-filter: brightness(0.25);
  transition:.5s;  
}  
*/

.graybg{
  background: url("/assets/gray_square.png");
}


.display_name_hidden{
  position:relative;
  top:-200px;
  text-align:center;
  font-size: 40px;
  height: 30px;
  opacity: 0;
}

.workinthathover{
  width: 90%;
  display: block;
  margin: 0 auto;
}
  
.display_name{
  color: white;
  margin-top: -50px;
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: -63%;
  font-size: 40px;
  margin-bottom: 55%;
}

.display_name_visibile{
  color: white;
  text-align: center;
  font-size: 25px;
  height: 30px;
  vertical-align: middle;
  z-index: 1;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;

}

.space{
  background-color: white !important;
  color: white !important;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

.hoverin{
  background:black;
  opacity:.5;
  z-index: 1000;
}

.center-it{
  display: block;
  margin: 0 auto;
  width:100%;
  margin-bottom: 11%;
  background: black;
  position:relative;
  z-index: -2;
}


#content{
  position:relative;
  top:600px;
}


/******************************************

              FORM STYLE

******************************************/


label{
  display: block;
  font-size: 15px;
  padding: 0;
  margin: 0 0 10px 0;
  text-align: center;
  font-family: "europa", sans-serif;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  line-height: 22px;
  position: relative;
  top: 5px;
  letter-spacing: 2px;
  margin-top:5px;
}

.label{
  display: block;
  font-size: 15px;
  padding: 0;
  margin: 0 0 10px 0;
  text-align: center;
  font-family: "europa", sans-serif;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  line-height: 22px;
  position: relative;
  top: -20px;
  letter-spacing: 2px;
  margin-top:5px;
}

.form_button{
  color: #fff;
  font-weight: bold;
  background: #000;
  border: none;
  -webkit-apperance: none;
  width: 100%;
  padding: 22px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 17px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.form_button:hover{
  background:rgba(223,63,63,0.9);
}

.form{
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.inputstuff{
  font-size: 22px;
  text-align: center;
  padding: 18px 0;
  margin: 0px auto;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  outline:none;
  border: solid 1px #ccc;
  outline: none;
  position: relative;
  font-weight: bold;
  -webkit-appearance: none;
  border-radius: 0;
  outline: none;
  margin-top: -20px;
}

.inputstuff:focus{
  border: solid 1px black;
}


