<style>
a{
  color:black;
}
</style>

<div style="text-align:center;">
<h1 class="mobile_title"> <%= @user.name%></h1>
                <a href="/mygigs">GIGS</a>
            <a href="/users/<%=session[:user_id]%>/edit">Account</a>
            <%= link_to "Log out", session_path(current_user.id), :method => :delete, :class => "logout_button "%>
</div>