<strong class="show-for-small-only">
  <% if !current_user %>
     <%= render :partial => '/layouts/othernav' %>
  <% end%>
  <% if current_user%>
     <%= render :partial => '/layouts/mobilenav' %>
  <%end%>
</strong>



<div class="hide-for-small-only">
    <% if !current_user %>
       <%= render :partial => '/layouts/othernav' %>
    <% end%>
    <% if current_user%>
       <%= render :partial => '/layouts/usernav' %>
    <%end%>
</div>







