    <div class="medium-6 large-6 columns" style="height:65px;">
      <p>.</p>
    </div>    
    <div class="medium-6 large-6 columns">
      <div id="menu-outer">
        <div class="table">
          <ul id="horizontal-list">
            <li>
                <a href="/signup" style="color:whitesmoke !important">SIGN UP</a>
            </li>
            <li>
              <a href="/login" style="color:whitesmoke !important">SIGN IN</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
      
      
      